.logo {
	float: left;
	margin-left: 140px;
}
.navigation {
	float: left;
	width: 473px;
	height: 23px;
	margin-top: 48px;
	margin-right: 600px;
	margin-bottom: 49px;
	margin-left: 119px;
}
.nav-li {
	float: left;
	margin-right: 40px;
	font-family: 'Poppins-Regular';
	font-size: 16px;
}
.clear {
	clear: both;
}
.nav-a {
	color: #181C28;
}
.avtive {
	color: #181C28;
}
.backgroung {
	width: 1600px;
	height: 382px;
	margin-left: 0 auto;
	margin-top: 120px;
}
.container{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 999999999;
	background-color: white;
}
.nav-ul::after {
	content:'';
	clear: both;
	display: block;
}
.banner {
	margin-top: 120px;
	margin-left: 10px;
}

.post {
	/*float: left;*/
	display: inline-block;
	color: #FF7A00;
	font-size: 22px;
	margin: 84px 1290px 81px 172px;
	font-family: 'Poppins-Medium';
	width: 1326px;
	/*height: 197px;*/
}
/*.post-title:: after{
	content:'';
	clear: both;
	display: block;
}*/
.bag {
	/*float: left;*/
	width: 636px;
	height: 423px;
 }
 .book {
	/*float: left;*/
	width: 636px;
	height: 423px;
 }
.box-title1 {
	/*float: left;*/
	width: 563px;
	height: 94px;
	font-family: 'Playfair Display';
	font-size: 36px;
	margin-top: 20px;
}
.p1 {
	/*float: left;*/
	width: 636px;
	height: 81px;
	font-family: 'Poppins-Regular';
	font-size: 16px;
}
.box1 {
	float: left;
	width: 636px;
	height: 673px;
	margin-left: 138px;
	margin-right: 52px;
}
.skarf {
	/*float: right;*/
	width: 636px;
	height: 423px;
}
.flower {
	/*float: right;*/
	width: 636px;
	height: 423px;
}
.box-title2 {
	/*float: right;*/
	width: 563px;
	height: 94px;
	font-family: 'Playfair Display';
	font-size: 36px;
	margin-top: 20px;
}
.p2 {
	/*float: right;*/
	width: 636px;
	height: 81px;
	font-family: 'Poppins-Regular';
	font-size: 16px;
}
.box2 {
	float: left;
	width: 636px;
	height: 673px;
	margin-right: 138px;
}
.box-wraper::after {
	content:'';
	clear: both;
	display: block;
}
/*.box {
	width: 1324px;
	height: 673px;
}*/